*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}


.root{
    display: flex;
    margin: 0%;
    width: 100vw;
    height: 100vh;
}


.tweeterLeft{
    width: 25vw;
    display: flex;
    flex-direction: column;
    border: none;
    padding: 1% 12% 2% 5%;
    box-sizing: border-box;
    color: white;
    background-color: black;
}
.tweeterNav{
    margin-left: 28%;
    line-height: 3.5rem;
}
.tweeterNavList{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
    margin-left: 10%;
    width: 15vw;
    padding: 2%;
    padding-left: 3%;
    border-radius: 50px;
}
.tweeterLogo{
    background-color: black;
    border-radius: 60%;
    width: 4rem;
    height: 3rem;
    border: 1px solid black;
    margin-left: 18%;
    margin-bottom: 7%;
}
.tweeterNavList i{
    font-size: 1.9rem;
    color: white;
}
.tweeterNavIconName{
    margin-left: 20%;
    font-size: 1.2rem;
    font-weight: bold;
}

.tweetLeftUserDetails{
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 3%;
}
.tweetMidUserImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.tweetLeftUserNameId{
    display: flex;
    flex-direction: column;
    margin: 4% 14%;
}
.fa-ellipsis-h{
    margin-top: 4%;
}
.tweeterNavTweetBtn{
    padding: 12% 60% 12% 60%;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 50px;
    border: none;
    color: white;
    margin-left: 27%;
    margin-top: 10%;
    background-color: rgb(74, 74, 220);
}
.tweeterNavTweetLeaf{
    display: none;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 2%;
    margin-left: 20%;
}


.tweeterMid{
    width: 43vw;
    padding-top: 5%;
    color: white;
    background-color: black;
    box-sizing: border-box;
    overflow: auto;
    border-left: 1px solid whitesmoke;
    border-right: 1px solid whitesmoke;
}
.tweeterMid::-webkit-scrollbar{
    display: none;
}
.tweetMidFixedTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 39vw;
    top: 1%;
    left: 26%;
}
.tweetMidStarBtn{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: black;
}
.tweetMidStarBtn:hover{
    background-color: rgb(64, 63, 63); 
}
.tweetMidHome{
    font-size: 1.3rem;
    font-weight: bold;
}
.tweetMidStarBtnImg{
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}
.tweetMidUserAreaSection{
    display: flex;
    padding: 2%;
}
.tweetMidUserAreaSubSection{
    display: flex;
    flex-direction: column; 
    margin-left: 1%;
    line-height: 2rem;
}
.tweetMidUserAreaSubSectionInput{
    width: 35vw;
    height: 5vh;
    max-height: fit-content;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: black;
    border: none;
}
.tweetMidUserAreaSubSectionInput::placeholder{
    font-size: 1.3rem;
}
.tweetMidAudienceChoose{
    width: fit-content;
    padding: 1% 4%;
    border-radius: 20px;
    color: blue;
    font-weight: bold;
    background-color: black;
    border: 1px solid gray;
}
.tweetMidAudienceReply{
    width: fit-content;
    padding: 1% 4%;
    border-radius: 20px;
    color: blue;
    background-color: black;
    border: none;
    font-weight: bold;
}
.tweetMidUserAreaBottomSection{
    display: flex;
    padding: 4% 0%;
    margin-top: 4%;
    justify-content: space-between;
    border-top: 1px solid gray;
}
.tweetMidTweetsBtn{
    padding: 1% 4%;
    color: white;
    background-color: rgb(74, 74, 220);
    font-size: 1rem;
    border-radius: 20px;
    border: none;
}
.tweetMidLoadTweets{
    text-align: center;
    padding: 5%;
    border: 1px solid gray;
}
.tweetMidMainTweet{
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    padding-top: 2%;
    line-height: 2rem;
    padding: 2%;
    border-bottom: 1px solid whitesmoke;
}
.tweetMidSomeoneImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
.tweetMidTweetOwner{
    padding-top: 2%;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 2%;
}
.tweetMidReaction{
    display: flex;
    justify-content: space-evenly;
}
.tweetMidReactionCount{
    display: flex;
}
.tweetMidSomeoneImgOnTweet{
    width: 33vw;
}
.tweetMidMainTweetOwnName{
    font-weight: bold;
    font-size: 1.2rem;
}
.tweetMidMainTweetSection i{
    font-size: 1.5rem;
    color: gray;
}
.tweetMidReactionCountView{
    font-size: 1rem;
    color: gray;
}
.tweetMidUserAreaFaIcons{
    width: 30vw;
}
.tweetMidUserAreaFaIcons i{
    font-size: 1.4rem;
    color: blue;
    margin: 2%;
}
.tweetMidTweetOwner{
    display: flex;
    margin-left: 10%;
}
.tweetMidTweetOwner i{
    margin-right: 3%;
}






.tweeterRight{
    width: 35vw;
    padding-left: 2%;
    background-color: black;
    color: white;
    overflow: auto;
}
.tweeterRight::-webkit-scrollbar{
    display: none;
}
.followingImg{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}
.tweeterRightSearchArea{
   margin: 2% 10% 1% 2%;
   width: 25vw;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 6vh;
   background-color: rgb(33, 32, 32);
    border: none;
    border-radius: 50px;
}
.tweeterRightInput{
    padding: 1% 5% 1% 5%;
    width: 16vw;
    height: 1.7rem;
    border: white;
    background-color: rgb(33, 32, 32);
}
.tweeterRightInput::placeholder{
    font-size: 1rem;
}
.tweeterRightSectionOne{
    background-color: rgb(15, 15, 17);
    border: none;
    border-radius: 15px;
    margin: 2% 10% 1% 2%;
    width: 25vw;
    padding: 3%;
}
.tweeterRightSectionTwoo{
    background-color: rgb(15, 15, 17);
    border: none;
    border-radius: 15px;
    margin: 2% 10% 1% 2%;
    width: 25vw;
    padding: 3%;
}
.tweeterRightSectionOneTitle{
    margin: 1% 1% 5%;
    font-size: 1.2rem;
    font-weight: bolder;
}
.tweeterRightSectionOneSubSection{
    margin: 1% 1% 4%;
    line-height: 1.2rem;
    padding: 3%;
    border-radius: 10px;
}
.tweeterRightSectionOneHighlight{
     font-weight: bolder;
}
.tweeterRightSectionOneSubSectionTweet, .tweeterRightSectionOneSubSectionPara, .tweetLeftUserId, .tweetMidMainTweetOwnName span, .SuggestedPersonId, .tweeterDetails{
    color: gray;
}
.tweeterDetails{
    display: flex;
    flex-wrap: wrap;
}
.tweeterDetails a, .tweeterDetails p{
    text-decoration: none;
    color: gray;
    margin: 2%;
}
.tweeterRightSectionShowMore{
    margin-top: 5%;
    color: blue;
}
.tweeterRightSectionTwooTitle{
    margin: 2% 1% 6%;
    font-size: 1.3rem;
    font-weight: bolder;
}
.tweetFollowPerson{
    margin: 2% 1% 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2%;
    border-radius: 10px;
}
.tweetFollowBtn{
    padding: 0% 5%;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
}
.tweetMidMainTweetOwnName a{
    text-decoration: none;
    color: white;
}


.tweeterNavList:hover, .tweetMidNewTweets:hover{
    background-color: rgb(33, 32, 32);
}
.tweetFollowPerson:hover, .tweeterRightSectionOneSubSection:hover{
    background-color: rgb(28, 28, 29);
}
.SuggestedPersonName:hover, .tweetMidMainTweetOwnName a:hover, .tweetLeftUserName:hover{
    text-decoration: underline;
    color: blue;
}


@media screen and (max-width: 980px){
    .tweeterRight, .tweetMidAudienceChoose, .tweetMidAudienceReply, .tweeterNavTweetBtn, .tweeterNavIconName, .tweetLeftUserNameId, .tweetLeftUserDetails i{
        display: none;
    }
    .tweeterMid{
        width: 80%;
        padding-top: 10%;
    }
    .tweetMidFixedTop{
        width: 65%;
    }
    video, .tweetMidSomeoneImgOnTweet{
        height: auto;
        width: 100%;
    }
    .tweetMidUserAreaSubSection{
        width: 75%;
    }
    .tweetMidUserAreaSubSectionInput{
        width: 75%;
    }
    .tweetMidUserAreaSection{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .tweetMidUserImg{
        margin-left: 60%;
    }
    .tweeterNavTweetLeaf{
        display: block;
    }
    .tweeterLeft{
        padding: 1%;
        line-height: 2rem;
    }
    .tweeterNav li{
        margin-top: 6%;
        margin-bottom: 6%; 
    }
}